        <%= render :partial => 'admin/shared/subnav_servants'%>
        
        <article class="article">
        	<h2><%= I18n.t :show_administrative_register %></h2>

          <div class="line"></div>    

          <div class="articleBody clear">
          
            <table>
              <tr>
                <td><%= I18n.t :name %>:</td>
                <td><%= @administrative.name %></td> 
              </tr>
              <tr>
                <td><%= I18n.t :birth %>:</td>
                <td>
                <%= @administrative.birth.strftime("%d-%m-%Y") %></td>
              </tr>
              <tr>
                <td><%= I18n.t :sex %>:</td>
                <td>
                  <%= @administrative.sex %> 
                </td>
              </tr>
              <tr>
                <td><%= I18n.t :cpf %>:</td>
                <td><%= @administrative.cpf %></td>
              </tr>
              <tr>
                <td><%= I18n.t :state %>:</td>
                <td>
                  <%= @administrative.state.name %>
                </td>
              </tr>
                <tr>
                <td><%= I18n.t :address %>:</td>
                <td><%= @administrative.address %></td>
              </tr>
              <tr>
                <td><%= I18n.t :number %>:</td>
                <td><%= @administrative.number %></td>
              </tr>
              <tr>
                <td><%= I18n.t :complement %>:</td>
                <td><%= @administrative.complement %></td>
              </tr>
              <tr>
                <td><%= I18n.t :zip_code %>:</td>
                <td><%= @administrative.zip_code %></td>
              </tr>
              <tr>
                <td><%= I18n.t :district %>:</td>
                <td><%= @administrative.district %></td>
              </tr>
              <tr>
                <td><%= I18n.t :city %>:</td>
                <td><%= @administrative.city %></td>
              </tr>
              <tr>
                <td><%= I18n.t :telephone %>:</td>
                <td>
                  <%= @administrative.area_code %><%= @administrative.telephone %> 
                </td>
              </tr>
              <tr>
                <td><%= I18n.t :mobile %>:</td>
                <td><%= @administrative.mobile %></td>
              </tr>
              <tr>
                <td><%= I18n.t :email %>:</td>
                <td><%= @administrative.email %></td>
              </tr>
              <tr>
                <td><%= I18n.t :enabled %>:</td>
                <td><%= show_enabled_icon(@administrative.enabled) %></td>
              </tr>
            </table>
          </div>
        </article> 
