			<%#= render :partial => 'admin/shared/subnav' %>
			
				<article class="article">
         	<h2><%= I18n.t :edit_user_register %>s</h2>

          <div class="line"></div>    

          <div class="articleBody clear"> 
          	<%= form_for(@user, :as => :user, :url => admin_user_path, :html => {:method => :put, :id => "form", :class => "form"}) do |f|%>
          		<%= render :partial => 'form', :locals => {:f => f} %>
          		<%= submit_tag I18n.t :update %>
        			<%= link_to I18n.t(:cancel), admin_users_path%>
		        <% end %>
          </div>
        </article>
