				<nav class="clear">
        	<ul>
        	  <% if has_access?('admin/home/index') %>
        	  <li><%= link_to I18n.t(:home), :controller => :home %></li>
        	  <% end %>
        	  <% if has_access?('admin/agendas/index') %>
            <li><%= link_to I18n.t(:agendas), :controller => :agendas %></li>
            <% end %>
            <li><a href="#">Financeiro</a></li>
            <% if has_access?('admin/servants/index') %>
            <li><%= link_to I18n.t(:servants), :controller => :servants %></li>
            <% end %>
            <% if has_access?('admin/patients/index') %>
            <li><%= link_to I18n.t(:patients), :controller => :patients %></li>
            <% end %>
            <% if has_access?('admin/users/index') %>
            <li><%= link_to I18n.t(:users), :controller => :users %></li>
            <% end %>
            <li><a href="#">Sobre</a></li>
          </ul>
        </nav>

